name: ci

on:
  push:
    branches:
      - master
      - releases/v*
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
      - releases/v*
    paths-ignore:
      - '**.md'

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - tonistiigi/binfmt:latest
          - tonistiigi/binfmt:master
        platforms:
          - all
          - arm64,riscv64,arm
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Set up QEMU
        id: qemu
        uses: ./
        with:
          image: ${{ matrix.image }}
          platforms: ${{ matrix.platforms }}
      -
        name: Available platforms
        run: echo ${{ steps.qemu.outputs.platforms }}
      -
        name: Dump context
        uses: crazy-max/ghaction-dump-context@v1
